@import '../../App.css';

.Controls {
  grid-area: controls;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background: var(--deep-red);
  justify-items: start;
  align-items: center;
  padding: 0 1.5rem;
}

.Grid {
  grid-area: main;
  display: grid;
  background: var(--pale-yellow);
  overflow: hidden;
}

.Add {
  background: var(--teal-green);
  border: 1.5px solid var(--burnt-orange);
  color: var(--burnt-orange);
}

.Reset {
  background: var(--burnt-orange);
  border: 1.5px solid var(--teal-green);
  color: var(--teal-green);
}

.Button {
  font: inherit;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  height: fit-content;
  justify-self: center;
}

.Add:hover {
  background: var(--burnt-orange);
  border: 1.5px solid var(--teal-green);
  color: var(--teal-green);
}

.Add:hover {
  background: var(--teal-green);
  border: 1.5px solid var(--burnt-orange);
  color: var(--burnt-orange);
}

.GridItem {
  background-color: var(--red-brown);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--burnt-orange);
}

.GridItem h1 {
  color: var(--grid-item-text);
}

.Number {
  max-height: 1.5rem;
  max-width: 4rem;
}

.Input {
  justify-self: center;
}

.PropertyName {
  position: relative;
}

.PropertyName:hover > .Tooltip {
  visibility: visible;
  opacity: 1;
}

/* Tooltip text */
.Tooltip {
  visibility: hidden;
  width: max-content;
  background-color: var(--red-brown);
  color: var(--pale-yellow);
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -2.5rem;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  display: block;
  box-sizing: border-box;
  border: 0.2rem solid var(--teal-green);
}

/* Tooltip arrow */
.Tooltip::after {
  content: "";
  position: absolute;
  top: 105%;
  left: 5%;
  margin-left: -0.5rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color:var(--teal-green) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.Tooltip:hover {
  visibility: visible;
  opacity: 0.8;
}